{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/venues/{{venue.id}}/edit">
      <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', value = venue.name, autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', value = venue.city, autofocus = true) }}
            </div>
            <div class="form-group">
              <!-- {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }} -->
              <select id="state" class="form-control" name="state">
              {% for field in form %}
                {% if field.name == "state" %}
                  {% for item in field.choices %}
                    <option value= "{{ item[0] }}" {% if item[0] == venue.state %} selected="true" {% endif %}>{{ item[0] }}</option>
                  {% endfor %}
                {% endif %}
             {% endfor %}
            </select>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', value = venue.address, autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', value = venue.phone, autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        <!-- {{ form.genres(class_ = 'form-control', value = venue.genres, id=form.state, autofocus = true) }} -->
        <select id="genres" class="form-control" name="genres" multiple="">
          {% for field in form %}
            {% if field.name == "genres" %}
              {% for item in field.choices %}
                {% if venue.genres != None and item[0] in venue.genres %}
                  <option value= "{{ item[0] }}" selected="true">{{ item[0] }}</option>
                {% else %}
                  <option value= "{{ item[0] }}">{{ item[0] }}</option>
                {% endif %}
              {% endfor %}
            {% endif %}
         {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="Seeking Talent">Seeking Talent</label>
        <!-- {{ form.seeking_talent(class_ = 'form-control', id=form.seeking_talent, autofocus = true) }} -->
        <select id="seeking_talent" class="form-control" name="seeking_talent">
          {% for field in form %}
            {% if field.name == "seeking_talent" %}
              {% for item in field.choices %}
                <option value= "{{ item[0] }}" {% if item[0] == venue.seeking_talent %} selected="true" {% endif %}>{{ item[0] }}</option>
              {% endfor %}
            {% endif %}
         {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="Seeking Description">Seeking Description</label>
        {{ form.seeking_description(class_ = 'form-control', value = venue.seeking_description, id=form.seeking_description, autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="imagelink">Image Link</label>
          {{ form.image_link(class_ = 'form-control', value = venue.facebook_link, id=form.state, autofocus = true) }}
        </div>
      <div class="form-group">
          <label for="genres">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', value = venue.facebook_link, id=form.state, autofocus = true) }}
      </div>
      <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}